// COLOR
$color-primary:#000000;
$color-secondary:#fff;
$color-terciary: #054d3b;
$color-quaternary: #13533a;
$color-quinary: #6f962b;
$color-senary: #faf2e7;
$color-septenary: #ee7c3d;

// FONTS 
$font-bold:"DM Bold";
$font-regular: "DM Regular";

// RESPONSIVE
$breakpoint-sm: 576px;
$breakpoint-md: 768px;

