@use "../abstracts/variables" as variable;
@use "../components/link" as link;

.actus {
    display: flex;
    .actus-top {
        display: flex;
        .actus-img {
            width: 50%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .actus-txt {
    
        }
    }
}