@use "../abstracts/variables" as variable;
@use  "../bases/font" as  font;
@use "../components/bandeaux";


.bandeaux {
    display: flex;
    margin-top: 2rem;
    .bandeaux-img {
        width: 50%;
        img {
            width: 100%;
            height: 100%;
            border-top-left-radius: 15px;
        }
    }
    .bandeaux-txt {
        width: 70%;
        margin-right: 2rem;

    }
}