@use "../abstracts/variables" as variable;

.footer {
    background-color: variable.$color-terciary;
    height: 100%;
    .container {
        p {
            margin-bottom: 0;
            color: white;
            padding-bottom: 3rem;
        }
        .footer-container {
            display: flex;
            justify-content: center;
            ul {
                width: 22%;
                color: white;
                padding-left: 1rem;
                li {
                    list-style: none;
                    margin-bottom: 1rem;
    
                    a {
                        text-decoration: none;
                        color: white;
    
                    }
                }
            }
    
        }
        .map {
            margin-top: 2rem;
            width: 33%; 
    
    
            iframe{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
    
        }
    }
}