@use "../abstracts/variables" as variable;
@use  "../bases/font" as  font;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        width: 80%;
        img{
            width: 8%;
        }
    }

}