@use "../abstracts/variables" as variable;

.projet {
    display: flex;
    flex-wrap:wrap;

    div {
        background-color: variable.$color-secondary;
        width: 30.5%;
        padding: 1rem 2rem 1rem 2rem;
        margin: 1rem;
        border-radius: 5px;
        h3 {
            border-bottom: variable.$color-primary 1px solid;
            padding-bottom: 1rem;
        }
    }

}