body {
  font-family: "DM Regular";
  margin: 0 auto;
  background-color: #faf2e7;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "DM Bold";
  color: #000000;
  font-size: 3.5rem;
  margin: 0;
}

h2 {
  font-family: "DM Bold";
  color: #000000;
  font-size: 2rem;
}

h3 {
  font-family: "DM Bold";
  color: #000000;
  font-size: 1.5rem;
}

p {
  font-family: "DM Regular";
  color: #000000;
  font-size: 0.8rem;
}

@font-face {
  font-family: "DM Bold";
  src: url(/assets/font/DM_Sans/static/DMSans-Bold.ttf);
}
@font-face {
  font-family: "DM Regular";
  src: url(/assets/font/DM_Sans/static/DMSans-Regular.ttf);
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer {
  background-color: #054d3b;
  height: 100%;
}
.footer .container p {
  margin-bottom: 0;
  color: white;
  padding-bottom: 3rem;
}
.footer .container .footer-container {
  display: flex;
  justify-content: center;
}
.footer .container .footer-container ul {
  width: 22%;
  color: white;
  padding-left: 1rem;
}
.footer .container .footer-container ul li {
  list-style: none;
  margin-bottom: 1rem;
}
.footer .container .footer-container ul li a {
  text-decoration: none;
  color: white;
}
.footer .container .map {
  margin-top: 2rem;
  width: 33%;
}
.footer .container .map iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 80%;
}
.header .logo img {
  width: 8%;
}

.link {
  color: #ee7c3d;
}

.btn {
  color: #fff;
  font-family: "DM Regular";
  text-decoration: none;
  padding: 0.7rem 0.9rem 0.7rem 0.9rem;
  border-radius: 10px;
}

.btn-secondary {
  color: #000000;
  font-family: "DM Regular";
  text-decoration: none;
  padding: 0.3rem;
  border-radius: 10px;
  border: 1px black solid;
  font-size: x-small;
}

.btn-header {
  background: linear-gradient(to right, #13533a, #6f962b);
}

.btn-primary {
  background-color: #054d3b;
}

.btn-terciary {
  background-color: #ee7c3d;
}

.btn-ban {
  background-color: #fff;
  color: #13533a;
}

.bandeaux-img {
  box-shadow: 7px 7px 0 0 #054d3b;
}

.bandeaux {
  display: flex;
  margin-top: 2rem;
}
.bandeaux .bandeaux-img {
  width: 50%;
}
.bandeaux .bandeaux-img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
}
.bandeaux .bandeaux-txt {
  width: 70%;
  margin-right: 2rem;
}

.projet {
  display: flex;
  flex-wrap: wrap;
}
.projet div {
  background-color: #fff;
  width: 29.5%;
  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem;
  border-radius: 5px;
}
.projet div h3 {
  border-bottom: #000000 1px solid;
  padding-bottom: 1rem;
}

.banniere-bot {
  background-color: #6f962b;
}
.banniere-bot .ban-bot {
  display: flex;
  justify-content: space-between;
}
.banniere-bot .ban-bot h2 {
  color: #fff;
  margin-bottom: 0;
}
.banniere-bot .ban-bot p {
  color: #fff;
  margin-bottom: 2rem;
}
.banniere-bot .ban-bot .btn-banniere {
  align-items: center;
  display: flex;
}

.gallerie {
  width: 100%;
  display: grid;
  grid-auto-rows: 240px;
}
.gallerie img {
  object-fit: cover;
  padding: 0.3rem;
  border-radius: 15px;
}
.gallerie * {
  width: 100%;
  height: 100%;
}
.gallerie .gallerie-img-1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallerie .gallerie-img-2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.gallerie .gallerie-img-3 {
  grid-column-start: 4;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallerie .gallerie-img-4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 2;
}
.gallerie .gallerie-img-5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.actus {
  display: flex;
  flex-direction: column;
}
.actus .actus-top {
  display: flex;
  height: 40vh;
  column-gap: 2rem;
  margin-bottom: 2rem;
}
.actus .actus-top .actus-img {
  width: 50%;
}
.actus .actus-top .actus-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.actus .actus-top .actu-infos {
  background-color: white;
  padding: 1.5rem;
  border-radius: 15px;
}
.actus .actus-bot {
  display: flex;
  column-gap: 2rem;
  width: 100%;
}
.actus .actus-bot .actus-items {
  width: 35%;
  background-color: white;
  border-radius: 15px;
  padding: 0.5rem;
}
.actus .actus-bot .actus-items .actus-bot-img {
  width: 100%;
  height: 22vh;
  margin-bottom: 1rem;
}
.actus .actus-bot .actus-items .actus-bot-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.actus .actus-bot .actus-items .actus-bot-txt {
  padding-left: 0.5rem;
}

.missions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url(/assets/img/farmer-bg.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 5rem;
}
.missions .mission {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  margin-top: 5rem;
}
.missions .mission .mission-txt {
  margin-right: 2rem;
}
.missions .mission .mission-txt .ul {
  margin-right: 1rem;
}
.missions .mission .mission-txt ul {
  column-count: 2;
}
.missions .mission .mission-txt ul li {
  color: #054d3b;
  list-style-type: circle;
}
.missions .mission .mission-txt ul li:first-line {
  color: #000000;
}
.missions .mission .mission-img {
  width: 40%;
}
.missions .mission .mission-img img {
  width: 100%;
}

.video {
  display: flex;
  justify-content: space-between;
}
.video iframe {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  margin: 1rem;
  aspect-ratio: 16/9;
}

.btn-video {
  justify-content: center;
  width: 100%;
  display: flex;
  margin-bottom: 3rem;
}

.support .support-img {
  display: flex;
  width: 100%;
  justify-content: center;
}
.support .support-img .div-img-supp {
  width: 100%;
}
.support .support-img .div-img-supp img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

/*# sourceMappingURL=style.css.map */
